.progressbar {
  border: 2px solid rgba(0, 0, 0, 0.116);
  width: 27%;
  position: absolute;
  top: 109px;
  z-index: -2;
  left: 230px;
  background-color: orangered;
}

.progressBar {
  margin-bottom: 1rem;

}

.step {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
  color: white;
  border: 1px solid;
  z-index: 1 !important;
  background-color: aliceblue;
}


.active {
  background-color: orangered;

}

.progress {
  width: 65%;
  position: absolute;
  left: 235px;
  top: 108px;
  border: 2px solid rgba(0, 0, 0, 0.062);
  z-index: -1;
}

.steps {
  font-weight: 700;
}